body {
    font-family: Arial, Helvetica, sans-serif;
    color: #dcdcdc;
    /* background-color: #262627; */
    background-image: radial-gradient(rgb(63, 63, 63), #282828);
    margin-left: 30px;
    margin-right: 30px;
}

.webgl {
    cursor: move;
}

.layeredCanvas {
    border: solid;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
}

.squareBtn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 4px;
}

.row {
    display: flex;

}

.leftSide,
.rightSide {
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.middleSide {
    display: flex;
    flex-direction: column;
    /* stack children vertically */
    align-items: center;
    /* horizontally center the children */
    text-align: center;
    /* center inline content like label text */
    margin-left: 10px;
    margin-right: 10px;
}

.centerAlign {
    display: flex;
    /* Enables flexbox */
    flex-direction: row;
    /* Arrange children side-by-side in a row */
    justify-content: center;
    /* Optional: space columns evenly */
    margin-left: auto;
    margin-right: auto;
}

#buttonDrawGlow {
    background: url(Assets/brush_icon.png);
}

#buttonEraseGlow {
    background: url(Assets/eraser_icon.png);
}

#buttonUndo {
    background: url(Assets/undo_btn.png);
}

#buttonRedo {
    background: url(Assets/redo_btn.png);
}

#buttonResetEmissiveMap {
    background: url(Assets/resetEmissiveMap_icon.png);
}

#buttonResetCamPos {
    background: url(Assets/resetCam.png);
}

#buttonDrawGlow,
#buttonEraseGlow,
#buttonToggleGrid,
#buttonUndo,
#buttonRedo,
#buttonResetEmissiveMap,
#buttonResetCamPos {
    background-size: cover;
    image-rendering: pixelated;
    background-color: #E9E9ED;
}

#buttonDrawGlow:hover,
#buttonEraseGlow:hover,
#buttonToggleGrid:hover,
#buttonUndo:hover,
#buttonRedo:hover,
#buttonResetEmissiveMap:hover,
#buttonResetCamPos:hover {
    background-color: #D0D0D7;
    transition: 0.1s;
}

.button-active {
  background-color: #989898 !important;
}

#layers {
    display: flex;
    flex-direction: row;
}

.layers2 {
    margin-right: 20px;
}
#numOfUndos, #numOfRedos {
    border: solid;
    margin: auto;
}

button, input {
    cursor: pointer;
}